*{
    font-family: 'Grenze Gotisch', serif;
    font-family: 'Signika Negative', sans-serif;
}

body{
    background-attachment: fixed;
    background: linear-gradient(93deg, #1cccc6 20.76%, #8f39e0 78.80%);
}

nav{
    display: flex;
    background-color: o;
}

nav span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#cuerpo{
    display: flex;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    margin-top: 75px;
}



#cuerpo main div{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
}

#cuerpo main div p { 
    font: bold;
    font-size: medium;
}



#Contacto form{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 40%;
    margin: 40px auto;   #auto decide el margin de derecha y izquierda
}

#Contacto input, select, textarea{
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* enlaces del menu */

#menu{
    display: flex;
    justify-content: space-between;
    background: #000000;
    border-radius: 1vw;
}

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
    background:#5b78a7;
   }

   /* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:black;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }

#menuDes{
    display:block;
    background:#eeeeee00;
}

#Portada{
    width: 40%;
}

#logo{
    width: 6%;
}

#logo2{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 45px;
    color: azure;
}

#mainMerengue{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    color: white;
}

#texto-pa{
    width: 30%;
}

#imgMerengue{
    width: 30%;
    margin-top: 7%;
}

#spanMerengue{
    font-size: 40px;
    display: block;
}


#mainRock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30p;
    color:rgb(0, 0, 0);
}

#texto-p{
    width: 30%;
}

#imgRock1, #imgRock2{
    width: 30%;
    margin-top: 8%;
}
#imgRock2{
    width: 30%;
    margin-top: 8%;
}

#spanRock1 , #spanRock2{
    font-size: 40px;
    display: block;
}

main.contenido-ppal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

main div span.titulo-salsa {
    font-size: 70px;
    text-align: left;
    margin-left: 50px;
    color: black;
    
}



main div p.texto-ppal {
    margin: 0 40px;
    text-align: justify;
    color: black;
    font-size: 88%;
}
