*{
    font-family: 'Grenze Gotisch', serif;
    font-family: 'Signika Negative',sans-serif;
}

body{
    background-attachment: fixed;
    background: linear-gradient(93deg, #1cccc6 20.76%, #8f39e0 78.80%);
}

nav{
    display: flex;
    background-color: o;
}



nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}



#logo{
    width: 6%;
    border-radius: 1vw;
}

#logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 55px;
    color: azure;
}


#menu{
    display: flex;
    justify-content: space-between;
    background: #000000;
    border-radius: 1vw;
}

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:20px;
    padding: 5px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    float:left;
    margin:0 10px;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
    background:#5b78a7;
   }

   /* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:black;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }

/* enlaces del menu */


#menuDes{
    display:block;
    background:#eeeeee00;
}


#formas{
    display: flex;
    flex-direction: column;
}

#formas p{
  width: 1000px;
  margin: 15px;
  text-align: left;
  line-height: 30px;
  font-size: 20px;
}

#cuerpos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: rgb(0, 0, 0);
}



#cuerpo{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-content: center;
    
}

#cuerpo  h1{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 55px;
    color: rgb(0, 0, 0);
    margin-top: 100px;
}

#cuerpo h2, h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
}

#cuerpo p{
    width: 800px;
    margin: 5px;
    line-height: 30px;
    font-size: 20px;
    margin-top: 40px;
}

#Portada{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 38%;
    margin-top: 75px;
}



#Contacto form{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 40%;
    margin: 40px auto;   #auto decide el margin de derecha y izquierda
}

#Contacto input, select, textarea{
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
}





#mainMerengue{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    color: rgb(0, 0, 0);
}

#texto-pa{
    width: 30%;
}

#imgMerengue{
    width: 30%;
    margin-top: 7%;
}

#spanMerengue{
    font-size: 40px;
    display: block;
}


#mainRock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30p;
    color:rgb(0, 0, 0);
}

#texto-p{
    width: 30%;
}

#fle{
    display: flex;
    
}

#imgRock1, #imgRock2{
    width: 30%;
    margin-top: 8%;
}
#imgRock2{
    width: 30%;
    margin-top: 8%;
}

.spanRock1 , .spanRock2{
    font-size: 40px;
    display: block;
}

   
main.contenido-ppal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

main div span.titulo-salsa {
    font-size: 70px;
    text-align: left;
    margin-left: 50px;
    color: black;
    
}



main div p.texto-ppal {
    margin: 0 40px;
    text-align: justify;
    color: black;
    font-size: 88%;
}